body {
    background-color: #eee;
    padding-top: 20px;
}

.keypad-button {

    margin-top: 10px;
    margin-bottom: 10px;
}

.typed-key-list {

    margin-top: 20px;
    margin-bottom: 20px;
}

.keypad-clear {

    margin-top: 20px;
    margin-bottom: 40px;
}